* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 1rem;
}

.nav-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.nav-ul li a {
  display: inline-block;
  color: #719df0;
  text-decoration: none;
  padding: 0.7rem;
  text-align: center;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
  /*background-color: darkolivegreen;*/
}

/*navbar logo*/
.navbar-logo-img {
  height: 2.5rem;
  cursor: pointer;
}

/*navbar hamburger*/
.hamburger {
  display: none;
  margin-bottom: 0.3rem;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 1.5rem;
  margin-left: 3rem;
  margin-top: 1.8rem;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.7rem;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.showcase {
  animation: transitionIn 1s;

  background-image: url("../images/index-img.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  overflow: auto;
}

.showcase-reservation {
  animation: transitionIn 1s;

  background-image: url("../images/coffee-5.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  overflow: auto;
}

.showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.error {
  color: crimson;
  font-size: 0.8rem;
  height: 1.5rem;
  margin-top: 0.4rem;
}

/*reservation.php*/
.error-1 {
  color: crimson;
  font-size: 1.5rem;
  height: 1.5rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.error-2 {
  color: crimson;
  font-size: 1rem;
}

.error-msg {
  color: crimson;
  font-size: 1rem;
}

input[type="text"] {
  border-radius: 5px;
  padding: 5px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 3rem;
  width: 225px;
  font-size: 1.5rem;
  border: solid 3px #719df0;
}

input[type="text"]:focus {
  outline: none;
  border: solid 4px #719df0;
}

#yes-no-radioBTN {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
#no-special {
  margin-left: 1rem;
}
textarea {
  resize: none;
  padding: 5px 10px;
  margin: 0.5rem;
}
textarea#textarea {
  border-radius: 5px;
  border: solid 3px #719df0;
}
textarea#textarea:focus {
  outline: none;
  border: solid 4px #719df0;
}

#seat-pref-radioBTN {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
/*seating preference radio btns*/
#yes {
  margin-bottom: 0.5rem;
}

#no {
  margin-bottom: 0.5rem;
}

.errorText-mobile {
  height: 1rem;
}

/* #pad-td for padding inside td to format the accesibility note in the guestinfo.php table */
#pad-td {
  padding: 0px 10px;
}

/*guestinfo.php --> table showing user submitted data*/
.guestinfo-table {
  margin-bottom: 20px;
}

.button {
  background-color: #719df0;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.button:focus {
  outline: none;
}

#indexBTN {
  margin-top: 1rem;
}

#stepSpace {
  margin-top: 1rem;
}

.front-form {
  padding: 10px;
}
.update-table-desktop {
  display: block;
}
.update-table-mobile {
  display: none;
}

.a1 {
  background-color: rgb(235, 177, 106);
}

.errMsg {
  color: crimson;
}

.update-table-desktop td {
  padding: 5px 10px 0px 10px;
}
/*if user has to write a note re: accesibility needs, etc.*/
#special-note {
  display: none;
}

/* Hide the tabs*/

.tab {
  display: none;
}

input.invalid {
  background-color: #ffdddd;
}

.btn-container {
  margin-top: 50px;
}

h4#inform-user {
  color: crimson;
}

/*Make the circles*/

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #4caf50;
}

table {
  border-spacing: 10px;
}

/***************************dialog box (MODAL) style********************/

/* Float cancel and delete buttons and add an equal width */
.cancelbtn,
.deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container-modal {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*END MODAL STYLING*/

/*-------------------------------------Transitions---------------------------------------------*/
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

/***************************************** MEDIA QUERIES********************************************/
/**************************************************************************************************/

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 1020px) {
}

@media screen and (max-width: 767px) {
  /******Navigation and Hamburger Nav***********************/
  .nav-ul {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  .cancelbtn,
  .deletebtn {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  /*******Table for UPDATE.PHP (user can update/edit reservation input values)****************************/
  /* 
  .update-table-desktop {
    display: none;
  }
  .update-table-mobile {
    overflow: scroll;
    display: block;
  }

  #update-mobile-screen {
    padding-bottom: 20px;
  }

  #update-submit {
    margin-bottom: 20px;
  }
  .guestinfo-table {
    margin-bottom: 20px;
  }
  #updateBTN {
    margin-bottom: 40px;
  }
  .guestinfo-table h3 {
    font-size: 1rem;
  } */
  body {
    overflow: scroll;
  }

  .a2 {
    display: block;
  }
}

@media screen and (max-width: 330px) {
  .navbar-logo-img {
    width: 230px;
  }
  body {
    overflow: scroll;
  }
}
